main{
    height: 100%;
    }
    
    footer{
    background-color: rgba(0, 0, 0, 0.3);
    }

    #contener{
        height: 720px;
    }

    #serch_form, #tabel{
        position: relative;
        width: 300px;
        height: 300px;
        border-width: 5px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0);
        border-radius: 10px;
        box-shadow: 2px 5px 10px rgb(54, 54, 54);
        background: rgba(209, 209, 209, 0.5);
        margin: auto;
        top: 80px;
        padding: 5px;
    }
    #serch_knapp, #serch{
        margin-bottom: 20px;
        width: 250px;
        padding: 5px;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-radius: 3px;
        box-shadow: 0 2px 5px rgb(54, 54, 54);
    }
    #serch_knapp{
        background-color: rgb(54, 54, 54);
        color: white;
        border: none;
        cursor: pointer;
        padding: 5px;
        width: auto;
        right: 0;
        width: 60px;
        height: 29px;
    }
    #serch{
        background-color: rgb(255, 255, 255);
        width: 200px;
        margin: 5px;
        left: 0;
    }
    
    #serch_form{
        height: 40px;
        top: 75px;
    }
    
    #tabel{

        width: 80%;
        height: 500px;
        top: 100px;
        overflow-y: scroll;
    }
    
    
    table{
        width: 100%;
        border-collapse: collapse;
    }
    td, th{
        padding: 10px 20px;
        
    }
    th{
        background-color: rgb(15, 92, 0);
        color: rgb(255, 255, 255);
    }
    .td1{
        text-align: center;
        color: red;
    }
    
    tr:nth-child(even){
        background-color: rgba(255, 255, 255, 0.8);
    }
    tr:nth-child(odd){
        background-color: rgba(196, 196, 196, 0.8);
    }
    tr:hover {
        background-color: rgba(146, 201, 135, 0.8);
    }
    
    
    
    .gyldige_knapper, .ugyldige_knapper{
        width: 135px;
        padding: 5px;
        border-radius: 3px;
        box-shadow: 0 2px 5px rgb(54, 54, 54);
        background-color: rgb(54, 54, 54);
        color: white;
        border: none;
        cursor: pointer;
        margin: 5px;
        font-size: 70%;
   
    }
    .ugyldige_knapper{
        background-color: rgb(204, 48, 48);
    }


    .gyldige_knapper:hover, .ugyldige_knapper:hover{
        background-color: rgb(27, 25, 25);
        transition: 0.5s;
    }
    
    
    
    #video_bilde{
        position: fixed;
        object-fit: cover;
        width: 100vw;
        height: 100vh;
    }
    #a{
        color: black;
        font-size: 80%;
    }
    #a:hover{
        color: rgb(0, 0, 218);
    }

    @media screen and (min-width: 700px) {
        #tabel{
            width: 560px;
        }
        #a{
            color: black;
            font-size: 100%;
        }
    }

